<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="card-container">
        <span class="info">Info</span>
        <img class="round" src="./br.svg" alt="brazil" />
        <h3>Brazil</h3>
        <h6>Guarulhos</h6>
        <p>isp: Akamai International B.V.</p>
        <div class="footer">
            <p>IP: 2.21.90.0</p>
            <p>latitude: -23.4543395</p>
            <p>longitude: -46.5336678</p>
        </div>
    </div>
</body>

</html>